.card {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	.list {
		width: 300px;
		padding: 0;
		margin: 0;
		.custom-image img {
			display: block;
			width: 100%;
		}
		.custom-card {
			padding: 10px 16px;
		}
		.custom-card p {
			color: red;
		}
	}
}